.NavBar[b-mbrop61ily] {
    background: #061e36;
    justify-content: center;
    justify-items: center;
    color: white;
    min-height: 50px;
}
.formbtn[b-mbrop61ily] {
    min-height: 100%;
}
.btnNav[b-mbrop61ily] {
    color: white;
    background: none;
    margin: 0 0px 0 0;
    padding: 0px 5px 0px 5px;
    border: none;
}
a.btnNav[b-mbrop61ily] {
    background: none;
    top: 50%;
    text-decoration: none;
    padding-top: 13px;
}

button:hover[b-mbrop61ily], a:hover[b-mbrop61ily] {
    background: fixed;
    background-color: white;
    color: black;
    transition: 0.5s;
}

.NavInput[b-mbrop61ily] {
    background-color: white;
    border-color: black;
    display: block;
    min-height: 35px;
    align-self: center;
}

.NavInput:focus-visible[b-mbrop61ily] {
    outline: 0;
}

.MenuClass[b-mbrop61ily] {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    display: none;
    background: none;
    color: white;
}

.RightSide[b-mbrop61ily] {
    visibility: hidden;
    margin: 0 0 0 0;
    display: block;
}

@media screen and (max-width: 920px) {
    .toHide[b-mbrop61ily] {
        display: none;
    }

    .MenuClass[b-mbrop61ily] {
        display: block;
    }
}

.sidepanel[b-mbrop61ily] {
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #061e36;
    overflow-x: hidden;
    transition: 0.35s;
    padding: 60px 0 0 0;
}

    .sidepanel button[b-mbrop61ily] {
        padding: 5px 0 0 0;
        margin: 0 0 0 0;
        background: none;
        border: none;
        width: 100%;
        text-align: start;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.5s;
    }

.sidepanel button:hover[b-mbrop61ily] {
    color: #111;
    background-color: white;
}

.sidepanel .closebtn[b-mbrop61ily] {
    position: absolute;
    top: 0;
    left: 85%;
    max-width: 15%;
    text-align: center;
}

.openbtn[b-mbrop61ily] {
    font-size: 20px;
    cursor: pointer;
    background:none;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover[b-mbrop61ily] {
    background-color: #444;
}