@page "/identity/account/login"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel

<body>

    <div class="container  align-items-center justify-content-center">
        <div class="row text-center">
            <div class="col">
                
            </div>
        </div>
        <div class="row align-self-center" style="margin-top: 20%;">
            <div class="col-md-6 offset-md-3">
                <form method="POST">
                    <legend>Вика лох</legend>
                    <div class="mb-3">
                        <label for="txtEmail" class="form-label">Email</label>
                        <input asp-for="LoginVm.Email" type="text" class="form-control" id="txtEmail" />
                        @if (Model.ErrorMessage == "Incorrect Login")
                        {
                            <div class="AlertMessage bi-exclamation-triangle-fill" role="">
                                @Model.ErrorMessage
                            </div>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="txtPassword" class="form-label">Password</label>
                        <input asp-for="LoginVm.Password" type="password" class="form-control" id="txtPassword" />
                        @if (Model.ErrorMessage == "Incorrect Password")
                        {
                            <div class="AlertMessage bi-exclamation-triangle-fill" role="">
                                @Model.ErrorMessage
                            </div>
                        }
                    </div>
                    <button type="submit" class="btn btn-outline-light">Login</button>
                    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
                    <a class="btn btn-outline-light" href="/identity/account/GoogleLogin"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Sign in with Google</a>
                </form>
            </div>
        </div>
    </div>


</body>





