@using BlazorStoreServAppV5.Repository.StoreLogic.CategoryRepository
@using System.Reflection
@inherits LayoutComponentBase
@inject IUserRepositoryService User
@inject IProductRepositoryService Product
@inject IOrderRepositoryServise Order
@inject ICategoryLogic Category
<PageTitle>GenericTableAppV5</PageTitle>

<main style="overflow-x: hidden;">
    <NavMenu/>
    <article class="" style="overflow-x: hidden;">
        @Body
    </article>
</main>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    public static List<Users>? UsersList { get; set; }
    public static List<ProductModel>? ProductsList { get; set; }
    public static List<OrderModel>? OrdersList { get; set; }
    public static List<CategoryModel>? CategoriesList { get; set; }
    public static Users? CurrentUser { get; set; }
    public static bool IsAuth { get; set; }
    public static List<ProductModel> CartList { get; set; } = new();
    public static List<PropertyInfo>? OrderPropertyInfos { get; set; }
    public static List<PropertyInfo>? UsersPropertyInfos { get; set; }
    public Dictionary<OrderModel, bool> UserDictionary { get; set; } = new();
    public List<Wrapper<OrderModel>> WrapperForOrdersList { get; set; } = new();
    public List<Wrapper<Users>> WrapperForUsersList { get; set; } = new();
    [Parameter]
    public int Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        CategoriesList = await Category.GetAllCategoriesAsync();
        ProductsList = await Product.GetAllProductsAsync();
        UsersList = await User.GetAllUsersAsync();
        OrdersList = await Order.GetAllOrdersAsync();
        if (User.GetCurrentUser(authenticationStateTask)!=null)
        {
        CurrentUser = await User.GetCurrentUser(authenticationStateTask);
        IsAuth = (await authenticationStateTask).User.Identity.IsAuthenticated;
        }
        
        OrderPropertyInfos = typeof(OrderModel).GetProperties().ToList();
        UsersPropertyInfos = typeof(Users).GetProperties().ToList();
    }
}