@page "/{Id}"
@using BlazorStoreServAppV5.Pages
@inject IHttpContextAccessor Accessor
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits NavMenu 
@attribute [Authorize]

<div class="row">
    <div class="col">
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>

    </div>
</div>

@code {

    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }
    YourTables your = new();
    [Parameter]
    public string Id { get; set; } = "2";

    protected override async Task OnInitializedAsync()
    {
        var List = UsersList;
        var authState = await authenticationStateTask;
        var user = authState.User;
        var currentUser = List.Where(o => (o.FirstName+" "+o.LastName).Equals(user.Identity.Name)).FirstOrDefault();
        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"{currentUser.Id}");
        }
    }

}
