@page "/Account"
@using BlazorStoreServAppV5.Repository.ThemeRepository
@inherits MainLayout
@inject NavigationManager NavigationManager
@inject IThemeLogic ThemesLogic
<component type="typeof(MainLayout)" param-InitialState="@Id" render-mode="ServerPrerendered" />
<div class="row g-0">
    <div class="col-12 col-md-3 col-sm-12 col-lg-4 d-flex align-items-center justify-content-center ">
        <div class="Mygroup">
        <label>Navigation panel</label>
        <button class="groupbtn" @onclick="e => OnDropdownChange(typeof(UserInfo))">Select a value</button>
        <button class="groupbtn" @onclick="e => OnDropdownChange(typeof(UserOrders))">Rocket Lab</button>
        @*<button class="@ThemesLogic.CurrentTheme" @onclick="e=>OnDropdownChange(typeof(UserInfo))">Select a value</button>
            <button class="@ThemesLogic.CurrentTheme" @onclick="e=>OnDropdownChange(typeof(UserOrders))">Rocket Lab</button>*@
        </div>
    </div>
    <div class="col-12 col-md-9 col-sm-12 col-lg-8 component">
        <DynamicComponent Type="@SelectedType" />
    </div>
</div>
    @code {
        [Parameter]
        public string Theme { get; set; }
        public Type? SelectedType { get; set; }
        protected override async Task OnInitializedAsync()
        {

            SelectedType = typeof(UserInfo);

            if (IsAuth)
            {
                var User = CurrentUser;
            }
            else
            {
                NavigationManager.NavigateTo("/identity/account/login");
            }
        }

        public void OnDropdownChange(Type type)
        {
            SelectedType = type;
        }

        protected override Task OnParametersSetAsync()
        {

            return Task.CompletedTask;

        }

    }
