.NavBar[b-t3kf0m5lsm] {
    background-color: black;
    color: white;
    min-height: 40px;
}

.btnNav[b-t3kf0m5lsm] {
    color: white;
    background: none;
    margin: 0 0px 0 0;
    padding: 0px 5px 0px 0px;
    border: none;
    min-height: 10%;
}

button:hover[b-t3kf0m5lsm] {
    background: fixed;
    background-color: white;
    color: black;
}

.NavInput[b-t3kf0m5lsm] {
    background-color: white;
    border-color: black;
    display: block;
}

    .NavInput:focus-visible[b-t3kf0m5lsm] {
        outline: 0;
    }

.MenuClass[b-t3kf0m5lsm] {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    display: none;
    background: black;
    color: white;
}

.RightSide[b-t3kf0m5lsm] {
    visibility: hidden;
    margin: 0 0 0 0;
    display: block;
}

@media screen and (max-width: 768px) {
    .toHide[b-t3kf0m5lsm] {
        display: none;
    }

    .MenuClass[b-t3kf0m5lsm] {
        display: block;
    }
}

.sidepanel[b-t3kf0m5lsm] {
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.35s;
    padding: 60px 0 0 0;
}

    .sidepanel button[b-t3kf0m5lsm] {
        padding: 5px 0 0 0;
        margin: 0 0 0 0;
        background: #111;
        border: none;
        width: 100%;
        text-align: start;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.5s;
    }

        .sidepanel button:hover[b-t3kf0m5lsm] {
            color: #111;
            background-color: white;
        }

    .sidepanel .closebtn[b-t3kf0m5lsm] {
        position: absolute;
        top: 0;
        left: 85%;
        max-width: 15%;
        text-align: center;
    }

.openbtn[b-t3kf0m5lsm] {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover[b-t3kf0m5lsm] {
        background-color: #444;
    }
