.NavBar {
    background-color: black;
    color: white;
    min-height: 40px;
}

.btnNav {
    color: white;
    background: none;
    margin: 0 0px 0 0;
    padding: 0px 5px 0px 0px;
    border: none;
    min-height: 10%;
}

button:hover {
    background: fixed;
    background-color: white;
    color: black;
}

.NavInput {
    background-color: white;
    border-color: black;
    display: block;
}

.NavInput:focus-visible {
    outline: 0;
}
.MenuClass{
    margin: 0 0 0 0;
    padding:0 0 0 0;
    border:none;
    display: none;
    background: black;
    color:white;
}
.RightSide{
    visibility: hidden; margin:0 0 0 0;
    display:block;
}
@media screen and (max-width: 768px) {
    .toHide, .RightSide {
        display: none;
    }
    .MenuClass{
        display: block;
    }
}