section[b-rjefc35bbl] {
     background-color: #15171e;
 }

.card-body[b-rjefc35bbl] {
    background-color: #15171e;
}

.list-group-item[b-rjefc35bbl] {
    background-color: #15171e;
    color: #a29894
}