.searcher[b-6v7gdwkhox] {
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
    outline: none;
}
.panel[b-6v7gdwkhox] {
    height: 100%;
}


.CheckboxListStyle[b-6v7gdwkhox] {
    margin-bottom: 5px;
}

.srchbutton[b-6v7gdwkhox] {
    background-color: #061e36;
    border-color: #061e36;
    color: white;
    margin-top: 5px;
}
.srch[b-6v7gdwkhox] {
    margin-top: 5px;
}
@include media-breakpoint-down(md) {
    .hided[b-6v7gdwkhox] {
        display: none;
    }
}
.CardList[b-6v7gdwkhox] {
    margin: 0 0 0 0;
    padding: 5px 0px 0 12px;
    color: black;
    
}
.card[b-6v7gdwkhox] {
    background-color: #15171e;
    color: #a29894;
    border-color: white;
}
.cardList[b-6v7gdwkhox]{
    background-color: #15171e;
    color: #a29894;
}
.btn-outline-light[b-6v7gdwkhox] {
    border-color: #a29894;
}
img[b-6v7gdwkhox] {
    width: 100%;
}
