/* _content/BlazorStoreServAppV5/NewFolder/NavBar.razor.rz.scp.css */
.MainNavBar[b-srsfz9m16k] {
    background-color: black;
}
/* _content/BlazorStoreServAppV5/Pages/AllProductsTable.razor.rz.scp.css */
.searcher[b-6v7gdwkhox] {
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
    outline: none;
}



.CheckboxListStyle[b-6v7gdwkhox] {
    margin-bottom: 5px;
}

.searchbutton[b-6v7gdwkhox] {
    border-color: black;
    background-color: white;
    margin: 0 5px 5px 0;
}
@include media-breakpoint-down(md) {
    .hided[b-6v7gdwkhox] {
        display: none;
    }
}
/* _content/BlazorStoreServAppV5/Shared/AdminUIcomponents/AdminPanel.razor.rz.scp.css */
.btn-group button[b-ag3sa00bth] {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child)[b-ag3sa00bth] {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover[b-ag3sa00bth] {
    background-color: #3e8e41;
}

.colorWhite[b-ag3sa00bth] {
    background-color: white; /* Green background */
    border: 1px solid black;
    color: black;
}

.colorBlack[b-ag3sa00bth] {
    background-color: black; /* Green background */
    border: 1px solid green;
    color: white;
}

.colorGreen[b-ag3sa00bth] {
    background-color: green; /* Green background */
    border: 1px solid black;
    color: white;
}

#btn-group button[b-ag3sa00bth] {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

#btn-group button:not(:last-child)[b-ag3sa00bth] {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
#btn-group button:hover[b-ag3sa00bth] {
    background-color: #3e8e41;
}
/* _content/BlazorStoreServAppV5/Shared/AdminUIcomponents/AdminUserInfo.razor.rz.scp.css */
.visible[b-gfovvwkq4p] {
    position: absolute;
    display: block;
    z-index: 2;
}
.nonvisible[b-gfovvwkq4p] {
    position: absolute;
    display: none;
    z-index: 2;
}
/* _content/BlazorStoreServAppV5/Shared/MainLayout.razor.rz.scp.css */
.page[b-pkt278h1wn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-pkt278h1wn] {
    flex: 1;
    overflow: hidden;
}

.sidebar[b-pkt278h1wn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-pkt278h1wn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-pkt278h1wn]  a, .top-row .btn-link[b-pkt278h1wn] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-pkt278h1wn] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-pkt278h1wn] {
        display: none;
    }

    .top-row.auth[b-pkt278h1wn] {
        justify-content: space-between;
    }

    .top-row a[b-pkt278h1wn], .top-row .btn-link[b-pkt278h1wn] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pkt278h1wn] {
        flex-direction: row;
    }

    .sidebar[b-pkt278h1wn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pkt278h1wn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-pkt278h1wn], article[b-pkt278h1wn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorStoreServAppV5/Shared/NavMenu.razor.rz.scp.css */
/* Add a black background color to the top navigation */
.colorBlack[b-mbrop61ily] {
    background-color: black;
}

.colorWhite[b-mbrop61ily] {
    background-color: #DCDCDC;
}

.colorGreen[b-mbrop61ily] {
    background-color: #2F4F4F;
}
/* Style the links inside the navigation bar */
.colorBlack a[b-mbrop61ily],form[b-mbrop61ily],button[b-mbrop61ily] {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}
.formclass[b-mbrop61ily]  {
    border: 0;
    margin-top: 0;
    padding: 0 0 0 0;
}
#subm[b-mbrop61ily] {
    background: black;
    padding: 13px 16px 16px 16px;
    border: none;
}

    /* Change the color of links on hover */
.colorBlack a:hover[b-mbrop61ily] {
    background-color: #ddd;
    color: black;
}
.colorBlack button:hover[b-mbrop61ily] {
    background-color: #ddd;
    color: black;
}

    /* Add a color to the active/current link */
.colorBlack a.active[b-mbrop61ily], button.active[b-mbrop61ily] {
    background-color: black;
    color: whitesmoke;
}
button.active[b-mbrop61ily] {
    background-color: black;
    color: whitesmoke;
}

/* Right-aligned section inside the top navigation */
.colorBlack-right[b-mbrop61ily] {
    float: right;
}

.colorWhite a[b-mbrop61ily], form[b-mbrop61ily], button[b-mbrop61ily] {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}

    /* Change the color of links on hover */
    .colorWhite a:hover[b-mbrop61ily], button:hover[b-mbrop61ily] {
        background-color: #FFFAF0;
        color: black;
    }

    /* Add a color to the active/current link */
    .colorWhite a.active[b-mbrop61ily], buttona.active[b-mbrop61ily] {
        background-color: #FFFAF0;
        color: black;
    }

/* Right-aligned section inside the top navigation */
.colorWhite-right[b-mbrop61ily] {
    float: right;
}

.colorGreen a[b-mbrop61ily], form[b-mbrop61ily], button[b-mbrop61ily] {
    float: left;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}

    /* Change the color of links on hover */
    .colorGreen a:hover[b-mbrop61ily], button:hover[b-mbrop61ily] {
        background-color: #8FBC8F;
        color: white;
    }

    /* Add a color to the active/current link */
    .colorGreen a.active[b-mbrop61ily], button.active[b-mbrop61ily] {
        background-color: #8FBC8F;
        color: white;
    }

/* Right-aligned section inside the top navigation */
.colorGreen-right[b-mbrop61ily] {
    float: right;
}

.dropbtn[b-mbrop61ily] {
    background-color: #DCDCDC;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown[b-mbrop61ily] {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content[b-mbrop61ily] {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

    /* Links inside the dropdown */
    .dropdown-content button[b-mbrop61ily] {
        color: black;
        padding: 12px 16px;
        border: none;
        text-decoration: none;
        display: block;
        min-width: 160px;
        text-align: start;
        z-index: 2;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover[b-mbrop61ily] {
        background-color: #f1f1f1
    }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content[b-mbrop61ily] {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn[b-mbrop61ily] {
    background-color: #FFFAF0;
}
/* _content/BlazorStoreServAppV5/Shared/UIcomponents/UserProfile.razor.rz.scp.css */

.btn-group button[b-d1f1hcs2ow]

{
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child)[b-d1f1hcs2ow] {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover[b-d1f1hcs2ow] {
    background-color: #3e8e41;
}
.colorWhite[b-d1f1hcs2ow] {
    background-color: white; /* Green background */
    border: 1px solid black;
    color: black;
}
.colorBlack[b-d1f1hcs2ow] {
    background-color: black; /* Green background */
    border: 1px solid green;
    color: white;
}
.colorGreen[b-d1f1hcs2ow] {
    background-color: green; /* Green background */
    border: 1px solid black;
    color: white;
}
#btn-group button[b-d1f1hcs2ow] {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

#btn-group button:not(:last-child)[b-d1f1hcs2ow] {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
#btn-group button:hover[b-d1f1hcs2ow] {
    background-color: #3e8e41;
}

