/* _content/BlazorStoreServAppV5/Areas/Identity/Pages/Account/Login.cshtml.rz.scp.css */
.container[b-onzz9e6nap] {
    min-height: 100%;
}
/* _content/BlazorStoreServAppV5/Areas/Identity/Pages/Account/Register.cshtml.rz.scp.css */
.container[b-gqcblfg5ld] {
    min-height: 100%;
}
/* _content/BlazorStoreServAppV5/Pages/AllProductsTable.razor.rz.scp.css */
.searcher[b-6v7gdwkhox] {
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
    outline: none;
}
.panel[b-6v7gdwkhox] {
    height: 100%;
}


.CheckboxListStyle[b-6v7gdwkhox] {
    margin-bottom: 5px;
}

.srchbutton[b-6v7gdwkhox] {
    background-color: #061e36;
    border-color: #061e36;
    color: white;
    margin-top: 5px;
}
.srch[b-6v7gdwkhox] {
    margin-top: 5px;
}
@include media-breakpoint-down(md) {
    .hided[b-6v7gdwkhox] {
        display: none;
    }
}
.CardList[b-6v7gdwkhox] {
    margin: 0 0 0 0;
    padding: 5px 0px 0 12px;
    color: black;
    
}
.card[b-6v7gdwkhox] {
    background-color: #15171e;
    color: #a29894;
    border-color: white;
}
.cardList[b-6v7gdwkhox]{
    background-color: #15171e;
    color: #a29894;
}
.btn-outline-light[b-6v7gdwkhox] {
    border-color: #a29894;
}
img[b-6v7gdwkhox] {
    width: 100%;
}
/* _content/BlazorStoreServAppV5/Shared/AdminUIcomponents/AdminPanel.razor.rz.scp.css */
.btn-group button[b-ag3sa00bth] {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child)[b-ag3sa00bth] {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover[b-ag3sa00bth] {
    background-color: #3e8e41;
}

.colorWhite[b-ag3sa00bth] {
    background-color: white; /* Green background */
    border: 1px solid black;
    color: black;
}

.colorBlack[b-ag3sa00bth] {
    background-color: black; /* Green background */
    border: 1px solid green;
    color: white;
}

.colorGreen[b-ag3sa00bth] {
    background-color: green; /* Green background */
    border: 1px solid black;
    color: white;
}

#btn-group button[b-ag3sa00bth] {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

#btn-group button:not(:last-child)[b-ag3sa00bth] {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
#btn-group button:hover[b-ag3sa00bth] {
    background-color: #3e8e41;
}
/* _content/BlazorStoreServAppV5/Shared/AdminUIcomponents/AdminUserInfo.razor.rz.scp.css */
.visible[b-gfovvwkq4p] {
    position: absolute;
    display: block;
    z-index: 2;
}
.nonvisible[b-gfovvwkq4p] {
    position: absolute;
    display: none;
    z-index: 2;
}
/* _content/BlazorStoreServAppV5/Shared/loginControl.razor.rz.scp.css */
.btnNav[b-r8m62qrzgg] {
    color: white;
    background: none;
    margin: 0 0px 0 0;
    padding: 0px 5px 0px 5px;
    border: none;
}

a.btnNav[b-r8m62qrzgg] {
    background: black;
    top: 50%;
    text-decoration: none;
    padding-top: 13px;
}

img[b-r8m62qrzgg] {
    max-width: 50px;
}
.formbtn[b-r8m62qrzgg] {
    min-height: 100%;
}

button:hover[b-r8m62qrzgg], a:hover[b-r8m62qrzgg] {
    background: fixed;
    background-color: white;
    color: black;
    transition: 0.5s;
}
/* _content/BlazorStoreServAppV5/Shared/MainLayout.razor.rz.scp.css */
.page[b-pkt278h1wn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-pkt278h1wn] {
    flex: 1;
    overflow: hidden;
}

.sidebar[b-pkt278h1wn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-pkt278h1wn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-pkt278h1wn]  a, .top-row .btn-link[b-pkt278h1wn] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-pkt278h1wn] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-pkt278h1wn] {
        display: none;
    }

    .top-row.auth[b-pkt278h1wn] {
        justify-content: space-between;
    }

    .top-row a[b-pkt278h1wn], .top-row .btn-link[b-pkt278h1wn] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pkt278h1wn] {
        flex-direction: row;
    }

    .sidebar[b-pkt278h1wn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pkt278h1wn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-pkt278h1wn], article[b-pkt278h1wn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
article[b-pkt278h1wn] {
    padding: 0 0 0 0 !important;
}
input[type="text"][b-pkt278h1wn], input[type="password"][b-pkt278h1wn], textarea[b-pkt278h1wn] {
    background-color: transparent;
    color: white;
}

input[type="text"]:focus[b-pkt278h1wn], input[type="password"]:focus[b-pkt278h1wn], textarea :focus[b-pkt278h1wn] {
    background-color: transparent;
    color: white;
}

.AlertMessage[b-pkt278h1wn] {
    margin-top: 5px;
    color: #f07a1b;
}

/* _content/BlazorStoreServAppV5/Shared/NavMenu.razor.rz.scp.css */
.NavBar[b-mbrop61ily] {
    background: #061e36;
    justify-content: center;
    justify-items: center;
    color: white;
    min-height: 50px;
}
.formbtn[b-mbrop61ily] {
    min-height: 100%;
}
.btnNav[b-mbrop61ily] {
    color: white;
    background: none;
    margin: 0 0px 0 0;
    padding: 0px 5px 0px 5px;
    border: none;
}
a.btnNav[b-mbrop61ily] {
    background: none;
    top: 50%;
    text-decoration: none;
    padding-top: 13px;
}

button:hover[b-mbrop61ily], a:hover[b-mbrop61ily] {
    background: fixed;
    background-color: white;
    color: black;
    transition: 0.5s;
}

.NavInput[b-mbrop61ily] {
    background-color: white;
    border-color: black;
    display: block;
    min-height: 35px;
    align-self: center;
}

.NavInput:focus-visible[b-mbrop61ily] {
    outline: 0;
}

.MenuClass[b-mbrop61ily] {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    display: none;
    background: none;
    color: white;
}

.RightSide[b-mbrop61ily] {
    visibility: hidden;
    margin: 0 0 0 0;
    display: block;
}

@media screen and (max-width: 920px) {
    .toHide[b-mbrop61ily] {
        display: none;
    }

    .MenuClass[b-mbrop61ily] {
        display: block;
    }
}

.sidepanel[b-mbrop61ily] {
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #061e36;
    overflow-x: hidden;
    transition: 0.35s;
    padding: 60px 0 0 0;
}

    .sidepanel button[b-mbrop61ily] {
        padding: 5px 0 0 0;
        margin: 0 0 0 0;
        background: none;
        border: none;
        width: 100%;
        text-align: start;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.5s;
    }

.sidepanel button:hover[b-mbrop61ily] {
    color: #111;
    background-color: white;
}

.sidepanel .closebtn[b-mbrop61ily] {
    position: absolute;
    top: 0;
    left: 85%;
    max-width: 15%;
    text-align: center;
}

.openbtn[b-mbrop61ily] {
    font-size: 20px;
    cursor: pointer;
    background:none;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover[b-mbrop61ily] {
    background-color: #444;
}
/* _content/BlazorStoreServAppV5/Shared/NewFolder/NavMenu2.razor.rz.scp.css */
.NavBar[b-t3kf0m5lsm] {
    background-color: black;
    color: white;
    min-height: 40px;
}

.btnNav[b-t3kf0m5lsm] {
    color: white;
    background: none;
    margin: 0 0px 0 0;
    padding: 0px 5px 0px 0px;
    border: none;
    min-height: 10%;
}

button:hover[b-t3kf0m5lsm] {
    background: fixed;
    background-color: white;
    color: black;
}

.NavInput[b-t3kf0m5lsm] {
    background-color: white;
    border-color: black;
    display: block;
}

    .NavInput:focus-visible[b-t3kf0m5lsm] {
        outline: 0;
    }

.MenuClass[b-t3kf0m5lsm] {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    display: none;
    background: black;
    color: white;
}

.RightSide[b-t3kf0m5lsm] {
    visibility: hidden;
    margin: 0 0 0 0;
    display: block;
}

@media screen and (max-width: 768px) {
    .toHide[b-t3kf0m5lsm] {
        display: none;
    }

    .MenuClass[b-t3kf0m5lsm] {
        display: block;
    }
}

.sidepanel[b-t3kf0m5lsm] {
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.35s;
    padding: 60px 0 0 0;
}

    .sidepanel button[b-t3kf0m5lsm] {
        padding: 5px 0 0 0;
        margin: 0 0 0 0;
        background: #111;
        border: none;
        width: 100%;
        text-align: start;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.5s;
    }

        .sidepanel button:hover[b-t3kf0m5lsm] {
            color: #111;
            background-color: white;
        }

    .sidepanel .closebtn[b-t3kf0m5lsm] {
        position: absolute;
        top: 0;
        left: 85%;
        max-width: 15%;
        text-align: center;
    }

.openbtn[b-t3kf0m5lsm] {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover[b-t3kf0m5lsm] {
        background-color: #444;
    }
/* _content/BlazorStoreServAppV5/Shared/UIcomponents/UserProfile.razor.rz.scp.css */

.btn-group button[b-d1f1hcs2ow]

{
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child)[b-d1f1hcs2ow] {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover[b-d1f1hcs2ow] {
    background-color: #3e8e41;
}
.colorWhite[b-d1f1hcs2ow] {
    background-color: white; /* Green background */
    border: 1px solid black;
    color: black;
}
.colorBlack[b-d1f1hcs2ow] {
    background-color: black; /* Green background */
    border: 1px solid green;
    color: white;
}
.colorGreen[b-d1f1hcs2ow] {
    background-color: green; /* Green background */
    border: 1px solid black;
    color: white;
}
#btn-group button[b-d1f1hcs2ow] {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

#btn-group button:not(:last-child)[b-d1f1hcs2ow] {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
#btn-group button:hover[b-d1f1hcs2ow] {
    background-color: #3e8e41;
}

