.visible[b-gfovvwkq4p] {
    position: absolute;
    display: block;
    z-index: 2;
}
.nonvisible[b-gfovvwkq4p] {
    position: absolute;
    display: none;
    z-index: 2;
}
section[b-gfovvwkq4p] {
    background-color: #15171e;
    width: 98%;

}

.card-body[b-gfovvwkq4p] {
    background-color: #15171e;
}

.list-group-item[b-gfovvwkq4p] {
    background-color: #15171e;
    color: #a29894
}
.myButton[b-gfovvwkq4p] {
    color: #a29894;
    background: none;
    border: none;
    
}