.component[b-ado76pleon] {
    width: 98%;
}
.tableAddCss th[b-ado76pleon],td[b-ado76pleon],thead[b-ado76pleon],tr[b-ado76pleon],a[b-ado76pleon],button[b-ado76pleon] {
    color: #a29894;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}