.searcher {
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
    outline: none;
}
.panel {
    height: 100%;
}


.CheckboxListStyle {
    margin-bottom: 5px;
    color: #a29894;
    background-color: #15171e;
    border-color: #a29894;
}

.srchbutton {
    background-color: #061e36;
    border-color: #061e36;
    color: #a29894;
    margin-top: 5px;
}
.srch {
    margin-top: 5px;
    
}
@include media-breakpoint-down(md) {
    .hided {
        display: none;
    }
}
.CardList {
    margin: 0 0 0 0;
    padding: 5px 6px 0px 6px;
    color: black;
    
}
.card {
    background-color: #15171e;
    color: #a29894;
    border-color: white;
}
.cardList{
    background-color: #15171e;
    color: #a29894;
}
.btn-outline-light {
    border-color: #a29894;
}
img {
    width: 100%;
}
