.searcher {
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 5px;
    outline: none;
}



.CheckboxListStyle {
    margin-bottom: 5px;
}

.searchbutton {
    border-color: black;
    background-color: white;
    margin: 0 5px 5px 0;
}
@include media-breakpoint-down(md) {
    .hided {
        display: none;
    }
}
