<div class="row">
    <div class="col-6">
        <img class="MainImg"src="@Product.ImgSrcString"/>
    </div>
    <div class="col-6">
        <div class="row d-flex">
            <div class="col-12 ">
                <label>@Product.Price</label>
                <button class="bi-cart btn btn-outline-primary">Buy</button>
            </div>
            @foreach (var descr in Product.DescriptionModels)
            {
                <div class="col-12 Descr d-flex">
                    <label class="">@descr.Name</label>
                    <label class="">@descr.Description</label>
                </div>
            }
            <div class="col-12">s</div>
            <div class="col-12">s</div>
            <div class="col-12">s</div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ProductModel Product { get; set; }

}