<div class="row">
    <div class="col-12 d-flex flex-column justify-content-start">
        @if (Product.Tags != null)
        {
            @foreach (var item in Product.Tags)
            {
                <div class="d-flex justify-content-start" style="width: 100%">
                    <label>@item.Name</label>
                    <area style="width: 10%"/>
                    <label>@item.Value</label>
                </div>
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public ProductModel Product { get; set; }

}