<div class="row">
    <div class="col-5 d-flex flex-column justify-content-start">
        @if (Product.Tags != null)
        {
            <table class="table">
                <tr></tr>
                <tbody>
                @foreach (var item in Product.Tags)
                {
                    <tr>
                        <th>
                            <label>@item.Name</label>
                        </th>
                        <th class="sss">
                            <label>@item.Value</label>
                        </th>
                    </tr>
                   
                }
                </tbody>
            </table>
        }
    </div>
</div>

@code {

    [Parameter]
    public ProductModel Product { get; set; }

}