@page "/{ProductId}"
@using BlazorStoreServAppV5.Repository.StoreLogic.LiqPay
@inherits MainLayout
@inject LiqPayService LiqPayService
@inject NavigationManager NavigationManager
<div class="row">
    <div class="col-12">
        <h3>@Product.Name</h3>
    </div>
    <div class="col-12 d-flex NavPanel">
        <button class="btn btn-outline-info" @onclick="() => TypeChanger(typeof(AboutProd))">About product</button>
        <button class="btn btn-outline-info" @onclick="() => TypeChanger(typeof(CharsProd))">Characteristics</button>
        <button class="btn btn-outline-info" @onclick="() => TypeChanger(typeof(ReviewsProd))">Reviews</button>
    </div>
    <div class="col-12" style="overflow: hidden; height: 200%;">
        <DynamicComponent Type="DynType" Parameters="@components["AboutProd"].Parameters"></DynamicComponent>
    </div>
    <button class="btn btn-outline-info" @onclick="() => ConfirmPayment()">Reviews</button>
</div>


@code {

    [Parameter]
    public string ProductId { get; set; }

    public Type DynType { get; set; } = typeof(AboutProd);
    public ProductModel Product { get; set; } = new();
    private Dictionary<string, ComponentMetaData> components { get; set; }
    protected override void OnParametersSet()
    {
        foreach (var prod in ProductsList)
        {
            var name = prod.Name + prod.Id.ToString();
            if (ProductId.Equals(name))
                Product = prod;
        }
        components = new()
        {
            {
                "AboutProd", new ComponentMetaData
                {
                    Name = "Product",
                    Parameters = new Dictionary<string, object> { { "Product", Product } }
                }
            }
        };
    }
    
    void TypeChanger(Type type)
    {
        DynType = type;
    }

    private async Task ConfirmPayment()
    {
        var checkoutUrl = await LiqPayService.GetCheckoutUrl(10.00m, "Test Payment");
        NavigationManager.NavigateTo(checkoutUrl);
    }
}