@using BlazorStoreServAppV5.Repository.StoreLogic.CategoryRepository
@inherits MainLayout
@inject ICategoryLogic CategoryLogic
@inject IProductRepositoryService ProductRepository
<div class="row align-items-lg-start cont ">
    <div class="col-lg-5">
        <label>Enter a name:</label>
        <input placeholder="Name of prod" @bind-value="NewProduct.Name"/>
    </div>
    <div class="col-lg-5">
        <label>Enter a price:</label>
        <input placeholder="Name of prod" @bind-value="NewProduct.Price"/>
    </div>
    <div class="col-lg-2">
        <label>Is cashback:</label>
        <input type="checkbox" placeholder="Is cashback" @bind-value="NewProduct.IsCashback"/>
    </div>
    <div class="col-lg-5 addPanel">
        <div class="checkboxes">
            <label>Add categories</label>
            @foreach (var category in CategoriesList)
            {
                <div class="cont">
                    <input class="checkboxstyle" type="checkbox" id="flexCheckDefault" value="@category.Id" @oninput="e => CategoriesAdding(category.Id)">
                    <label class="labelcheckbox" for="flexCheckDefault">@category.Name</label>
                </div>
            }
        </div>
        <button type="button" class="btn btn-outline-light" @onclick="SubmitNewProduct">Add Prod</button>
    </div>
    <div class="row align-items-lg-start ">
        <div class="col-lg-3">
            <label>Enter category name</label>
            <input placeholder="Enter new category" @bind-value="NewCategory.Name"/><button type="button" class="btn"></button>
            <button type="button" class="btn btn-outline-light" @onclick="SubmitCategory">Add Prod</button>
        </div>
        <div class="col-lg-3">
            <label>Enter category description</label>
            <input placeholder="CategoryDescr" @bind-value="NewCategory.Description"/>
        </div>
        <div class="col-lg-3">
            <label>Enter category smth</label>
            <input placeholder="WIll be Desctiption, but not know"/>
            
        </div>

    </div>


</div>


@code {

    [Parameter]
    public string smth { get; set; }

    public ProductModel NewProduct { get; set; } = new();
    public CategoryModel NewCategory { get; set; } = new();
    public List<CategoryModel> ProductCategories { get; set; } = new();

    async Task SubmitCategory()
    {
        await CategoryLogic.AddCategoryAsync(NewCategory);
        CategoriesList = await CategoryLogic.GetAllCategoriesAsync();
        StateHasChanged();
    }

    async Task CategoriesAdding(int Id)
    {
        ProductCategories.Add(CategoriesList.Where(x => x.Id == Id).FirstOrDefault());
    }

    async Task SubmitNewProduct()
    {
        NewProduct.CategoryModels = ProductCategories;
        await ProductRepository.InsertProductAsync(NewProduct);
    }

}