@page "/AdminPanel"
@inherits MainLayout
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]
<component type="typeof(MainLayout)" param-InitialState="@Id" render-mode="ServerPrerendered" />
<div class="row g-0">
    <div class="col-12 col-md-3 col-sm-12 col-lg-4 d-flex btnClass justify-content-center">
        <div class="Mygroup">
            <button class="groupbtn" @onclick="()=>OnDropdownChange(typeof(AdminOrders))">All orders</button>
            <button class="groupbtn" @onclick="()=>OnDropdownChange(typeof(AdminUsers))">All users</button>
            <button class="groupbtn" @onclick="()=>OnDropdownChange(typeof(AdminAddProd))">Add new product</button>
            @* <button class="@ThemesLogic.CurrentTheme" @onclick="()=>OnDropdownChange(typeof(UserOrders))">Rocket Lab</button>*@
        </div>
    </div>
    <div class="col-12 col-md-9 col-sm-12 col-lg-8 component">
        <DynamicComponent Type="@SelectedType" />
    </div>
</div>
<div class="container">

    <div class="col mt-4">
    </div>
</div>

@code {
    public Type? SelectedType { get; set; }
    protected override async Task OnInitializedAsync()
    {
        SelectedType = typeof(AdminOrders);
        if (IsAuth)
        {
            var User = CurrentUser;
        }
        else
        {
            NavigationManager.NavigateTo("/identity/account/login");
        }
    }
    public void OnDropdownChange(Type type)
    {
        SelectedType = type;
    }
}
