@page "/test2"
<div class="row">
    <div class="col">
        <div class="d-flex bd-highlight flex-wrap NavBar">
            <button class="MenuClass bi-triangle" @onclick="WidthChanger"></button>
            <button class="btnNav"><img src=""></button>
            <button class="btnNav">Flex item</button>
            <button class="btnNav">Flex item</button>
            <button class="btnNav">Flex item</button>
            <button class="btnNav">Flex item</button>
            <input type="text" class="NavInput" placeholder="Search...">
            <div class="ms-auto" style=""></div>
            <button class="btnNav toHide">Flex item</button>
            <button class="btnNav toHide">Flex item</button>
            <button class="btnNav toHide">Flex item</button>
            <button class="btnNav toHide">Third flex item</button>
            <button class="smth toHide">Third flex item</button>

        </div>
    </div>
    <div class="sidepanel" style=" width:@SidePanelWidth">
        <button class="">Flex item</button>
        <button class="">Flex item</button>
        <button class="">Flex item</button>
        <button class="">Third flex item</button>
        <button class="">Third flex item</button>
        <button class="closebtn" @onclick="WidthChanger">×</button>
    </div>
</div>

@code {
    public string SidePanelWidth { get; set; } = "0%";

    void WidthChanger()
    {
        if (SidePanelWidth == "25%")
            SidePanelWidth = "0%";
        else
            SidePanelWidth = "25%";
    }
}
